@charset "UTF-8";
html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #0F0E17;
}

/* Utilidades */
.contenedor {
  margin: 0 auto;
  max-width: 120rem;
  width: 90%;
}

/* Barra navegación */
.navegacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid: 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2.4rem 0;
}

.navegacion .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.5rem;
}

.navegacion a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.navegacion a img {
  background-color: #0F0E17;
}

.navegacion a:focus {
  color: #FED941;
  border-bottom: 1px solid #FED941;
}

.navegacion .btn-search {
  position: relative;
  height: 4.2rem;
  overflow: hidden;
}

.navegacion #busqueda {
  width: 35rem;
  height: inherit;
  padding: 0 7rem 0 1rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 1.5rem;
  /* overflow: hidden; */
  outline: none;
}

.navegacion #search {
  cursor: pointer;
  position: absolute;
  right: 0;
  padding: 1rem;
  background-color: #fed941;
  border-top-right-radius: .8rem;
  border-bottom-right-radius: .8rem;
}

/* Slides */
.slides {
  margin-top: -7rem;
  margin-bottom: 6.5rem;
}

.slides .slider__imagen {
  color: #000;
  height: 1.5rem !important;
  width: auto !important;
}

.slides .slider img {
  height: 300px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
}

.slides .slider .boton-amarillo {
  width: 13rem;
  height: 2.5rem;
  padding: 1rem 2.4rem;
  background-color: #FED941;
  position: relative;
  top: 32rem;
  left: 3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.slides .slider .boton-amarillo p {
  font-size: 1.2rem;
  text-align: center;
  font-weight: 700;
  line-height: 2.8rem;
  font-family: Montserrat;
  text-transform: uppercase;
}

.slides .slider .boton-negro {
  width: 13rem;
  height: 2.5rem;
  padding: 1rem 2.4rem;
  background-color: #0C0E16;
  border: 0.43997px solid #FED941;
  position: relative;
  top: 27.5rem;
  left: 27rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.slides .slider .boton-negro p {
  font-size: 1.2rem;
  text-align: center;
  font-weight: 700;
  line-height: 2.8rem;
  font-family: Montserrat;
  color: #FED941;
  text-transform: uppercase;
}

/* Sección main */
main .title {
  font-size: 4rem;
  margin-bottom: 4.8rem;
  color: #fff;
}

main .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.card {
  width: 220px;
  position: relative;
  overflow: hidden;
  margin: auto;
}

.card__title {
  color: #fff;
  white-space: nowrap;
  margin: 0 0 1rem;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__img img {
  width: 100%;
  height: auto;
}

.card__puntuacion {
  position: relative;
  top: 6em;
  width: 8.5rem;
  background-color: #000;
  opacity: .64;
}

.card__puntuacion img {
  margin-left: 1rem;
}

.card__puntuacion span {
  color: #fff;
  font-size: 3rem;
  line-height: 1.4;
}

.card__puntuacion span:first-of-type {
  margin-left: 1rem;
}

.card__puntuacion-curva {
  position: relative;
  right: 1rem;
  height: 30px;
  width: 15px;
  padding: .4rem 1.5rem;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  background-color: inherit;
  z-index: -1;
}

/****** LOGIN MODAL ******/
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.title_icon {
  font-size: 2rem;
}

.loginmodal-container input[type=submit] {
  cursor: pointer;
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container .casillas {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
  /* border-radius: 3px; */
  /* -webkit-user-select: none;
    user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 600;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  -webkit-transition: opacity ease 0.5s;
  transition: opacity ease 0.5s;
}

.login-help {
  font-size: 1.4rem;
}

#myBtn {
  cursor: pointer;
  color: #fff;
  position: fixed;
  font-size: 4rem;
  z-index: 1;
  top: 85%;
  right: 5%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Acaba el modal xd */
/*# sourceMappingURL=style.css.map */