@charset "UTF-8";
@import url("./registro.scss");
@import url("https://fonts.googleapis.com/css?family=Bree+Serif|Quicksand");
html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #0F0E17;
  font-family: 'Bree Serif', serif;
}

/* Utilidades */
.contenedor {
  margin: 0 auto;
  max-width: 120rem;
  width: 90%;
}

/* Barra navegación */
.navegacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid: 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2.4rem 0;
}

.navegacion .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.5rem;
}

.navegacion a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.navegacion a img {
  background-color: #0F0E17;
}

.navegacion .active {
  color: #FED941;
  border-bottom: 1px solid #FED941;
}

.navegacion .btn-search {
  position: relative;
  height: 4.2rem;
  overflow: hidden;
}

.navegacion #busqueda {
  width: 35rem;
  height: inherit;
  padding: 0 7rem 0 1rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 1.5rem;
  /* overflow: hidden; */
  outline: none;
}

.navegacion #search {
  cursor: pointer;
  position: absolute;
  right: 0;
  padding: 1rem;
  background-color: #fed941;
  border-top-right-radius: .8rem;
  border-bottom-right-radius: .8rem;
}

/* Slides */
.slides {
  margin-top: -7rem;
  margin-bottom: 6.5rem;
}

.slides .slider__imagen {
  color: #000;
  height: 1.5rem !important;
  width: auto !important;
}

.slides .slider img {
  height: 300px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
}

.boton {
  width: 13rem;
  height: 2.5rem;
  padding: 1rem 2.4rem;
  position: relative;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
}

.boton p {
  font-size: 1.2rem;
  text-align: center;
  font-weight: 700;
  line-height: 2.8rem;
  font-family: Montserrat;
  text-transform: uppercase;
}

.boton-amarillo {
  top: 32rem;
  left: 3rem;
  padding: 1rem 2.4rem;
  background-color: #FED941;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.boton-amarillo:hover {
  background-color: #fed841c7;
}

.amarillo {
  background-color: #FED941;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.amarillo:hover {
  background-color: #fed841d8;
}

.negro {
  background-color: #000;
  border: 0.43997px solid #FED941;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.negro:hover {
  background-color: rgba(0, 0, 0, 0.205);
}

.boton-negro {
  padding: 1rem 2.4rem;
  background-color: #0C0E16;
  border: 0.43997px solid #FED941;
  top: 27.5rem;
  left: 27rem;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.boton-negro p {
  color: #FED941;
}

.boton-negro:hover {
  background-color: rgba(0, 0, 0, 0.712);
}

.botones {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 2rem;
}

/* Sección main */
main .title {
  font-size: 4rem;
  margin-bottom: 4.8rem;
  color: #fff;
}

main .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.card {
  cursor: pointer;
  width: 220px;
  position: relative;
  overflow: hidden;
  margin: auto;
}

.card__title {
  color: #fff;
  white-space: nowrap;
  margin: 0 0 1rem;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__img img {
  width: 100%;
  height: auto;
}

.card__puntuacion {
  position: relative;
  top: 6em;
  width: 10rem;
  background-color: #000;
  opacity: .64;
  border-radius: 0px 50px 50px 0;
}

.card__puntuacion img {
  margin-left: 1rem;
}

.card__puntuacion span {
  color: #fff;
  font-size: 3rem;
  line-height: 1.4;
  margin-left: 1rem;
}

.blue {
  border: 3px solid #0E3FA9;
}

.yellow {
  border: 3px solid #FED941;
}

/****** LOGIN MODAL ******/
.modal, .modal-video {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.modal-video {
  background-color: #0F0E17;
  opacity: .9;
}

.modal-video-closed {
  display: none !important;
}

.modal-video-open {
  display: block;
}

.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.title_icon {
  color: #FED941;
  font-size: 2.5rem;
}

.loginmodal-container input[type=submit] {
  cursor: pointer;
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container .casillas {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container .casillas:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
}

.loginmodal-submit {
  border: 0px;
  color: #000;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  background-color: #FED941;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
}

.loginmodal-submit:hover {
  border: 0px;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  background-color: #fed841a9;
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 600;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  -webkit-transition: opacity ease 0.5s;
  transition: opacity ease 0.5s;
}

.login-help {
  font-size: 1.4rem;
}

#myBtn {
  cursor: pointer;
  color: #fff;
  position: fixed;
  font-size: 4rem;
  z-index: 1;
  top: 85%;
  right: 5%;
}

.registroBtn {
  color: #FED941;
  position: fixed;
  font-size: 4.4rem;
  z-index: 1;
  top: 85%;
  right: 10%;
  text-decoration: none;
}

.registroBtn i:nth-child(1) {
  position: relative;
  font-size: 2rem;
  color: #000;
  bottom: .6rem;
  left: 3rem;
}

.title_modal {
  margin-top: -2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.modal-trailer {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: #000;
}

.modal-contenido {
  padding: 30px;
  margin: 0 auto;
  border-radius: 2px;
  overflow: hidden;
  font-family: roboto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
}

.poster {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
}

.poster__img {
  position: relative;
  left: 20rem;
  width: 20rem;
  border-radius: 9.78169px;
  -webkit-transform: matrix(0.71, -0.41, 1.22, 0.71, 0, 0);
          transform: matrix(0.71, -0.41, 1.22, 0.71, 0, 0);
}

.poster__info {
  width: 100%;
  font-size: 2rem;
  color: #fff;
}

.close {
  cursor: pointer;
  background-color: transparent;
  border: none;
  position: relative;
  color: #fff;
  bottom: 90%;
  left: 90%;
}

.informacion-pelicula p {
  color: #FFFFFE;
}

.trailer-view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.after {
  height: 3rem;
  position: relative;
}

.after img {
  width: auto;
}

.before {
  position: relative;
  width: 4rem;
  height: 3rem;
}

.before img {
  width: auto;
}
/*# sourceMappingURL=style.css.map */